* {
  margin: 0;
  padding: 0;
}

/* Navigation */

#name {
  display: flex;
  border: 2px solid none;
  height: 70px;
  width: 100px;
  padding: 15px 0px 0px 5px;
  font-size: 1.4rem;
  /* font-family: 'Baloo Bhaijaan 2'; */
}

img[alt="City Hospital"] {
  height: 69px;
  width: 88px;
  cursor: pointer;
}

#menu {
  display: none;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100px;
  margin: 4px;
  cursor: pointer;
}

#cross {
  display: none;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100px;
  margin: 4px;
  cursor: pointer;
}

#dropdown {
  margin: 0px 28px;
}

header nav {
  display: flex;
  border: 2px solid none;
  padding: 8px 10px 0 10px;
  align-items: center;
  height: 68px;
  flex-direction: row;
}

header nav #tabs {
  display: flex;
  text-decoration: none;
  margin-bottom: 17px;
  list-style: none;
}

header nav #tabs a {
  margin: 0 12px;
  font-size: 1.2rem;
  color: #9696b9;
  border: 2px solid none;
  text-decoration: none;
  box-sizing: border-box;
  width: max-content;
  text-align: center;
  font-family: "Baloo Bhaijaan 2", cursive;
}

header nav #tabs a:hover {
  color: #595966;
}

header nav #tabs a li button:hover {
  color: #595966;
}

#tabs .hover {
  border: none;
  font-size: 1.2rem;
  height: 30px;
  width: max-content;
  color: #9696b9;
  background-color: transparent;
  cursor: pointer;
  font-family: "Baloo Bhaijaan 2", cursive;
  position: relative;
}

#tabs .hover:hover {
  color: red;
}

#tabs #hovercontent2 {
  display: none;
  flex-direction: column;
  margin: 35px 0px 0px 254px;
  position: absolute;
  z-index: 1;
}

#tabs #hovercontent2 a:nth-child(2) {
  border-top: none;
}

#tabs #hovercontent2 a:nth-child(3) {
  border-top: none;
}

#tabs #hovercontent2 a {
  display: block;
  border: 1px solid #e7d8d8;
  width: 174px;
  padding-left: 17px;
  border-bottom: none;
  color: black;
  background-color: white;
  text-decoration: none;
  text-align: initial;
  font-size: 1.1rem;
}

#tabs #hovercontent2 a:hover {
  background-color: rgb(243, 232, 232);
}

/* Container  */

.container::before {
  content: " ";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: url("./doc_appointment.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.4;
  z-index: -1;
}

.container {
  display: flex;
  border: 2px solid none;
  position: relative;
  width: 100%;
  justify-content: center;
  height: 577px;
}

form {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  float: right;
  width: 375px;
  height: 505px;
  border: 1px solid red;
  border-radius: 16px;
  align-items: start;
  padding: 12px;
  margin: 21px 0px 0px 34px;
}

.formerror {
  color: red;
}

.formelement {
  display: flex;
  flex-direction: row;
}

form input {
  height: 43px;
  width: 353px;
  font-size: 0.9rem;
  border: 1px solid red;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0px 5px;
}

form textarea {
  height: 148px;
  width: 353px;
  border: 1px solid black;
  border-radius: 5px;
}

form input[type="submit"] {
  display: flex;
  height: 32px;
  width: 75px;
  font-size: 0.9rem;
  border: 1px solid red;
  border-radius: 18px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: blue;
  background-color: #e9ff00;
  cursor: pointer;
  margin-top: 12px;
}

/* Footer section */
footer {
  border: 2px solid none;
  background-color: #232325;
  color: white;
}

footer span {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

footer span ul {
  display: flex;
  flex-direction: row;
  margin-left: 89px;
}

footer span ul li {
  list-style: none;
  margin: 29px 52px 29px 0px;
  font-size: 1.4rem;
}

footer span ul li a {
  text-decoration: none;
  color: white;
}

footer span ul li a:hover {
  color: rgb(34, 141, 177);
}

footer span b {
  color: white;
  margin: 2px 0px;
  font-size: 1.2rem;
}

footer span p {
  text-align: center;
  font-size: 1.2rem;
  margin: 14px 0px 5px 31px;
}

footer #social i {
  margin: 15px;
}

footer #social a {
  text-decoration: none;
  color: white;
}

footer #social a:hover {
  color: rgb(34, 141, 177);
}

/* Mobile responsive */

@media screen and (max-width: 600px) {
  #icon {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #90dae7;
  }

  img[alt="City Hospital"] {
    height: 53px;
    width: 60px;
  }

  #name {
    display: none;
  }

  #menu {
    display: flex;
  }

  body header nav {
    display: flex;
    padding: 0;
    align-items: center;
    flex-direction: column;
    height: fit-content;
  }

  body header nav #tabs {
    display: none;
    flex-direction: column;
    background-color: #e546e5;
    width: 100%;
    height: 100vh;
    margin: 0;
  }

  body header nav #tabs a {
    color: white;
    font-size: 1.4rem;
  }

  body #tabs .hover {
    color: white;
    margin: 0px 0px 8px 12px;
    font-size: 1.4rem;
  }

  #tabs #hovercontent2 {
    display: none;
    position: relative;
    flex-direction: column;
    margin: 0;
  }

  #tabs #hovercontent2 a {
    display: block;
    border: none;
    width: 90%;
    padding-left: 17px;
    color: white;
    background-color: #d71fd7;
    font-size: 1.2rem;
  }

  #tabs #hovercontent2 a:hover {
    background-color: rgb(231 35 35);
  }

  .container {
    align-items: center;
    padding: 28px 0px;
    height: fit-content;
  }

  form {
    width: 80%;
    height: fit-content;
    margin: 0px;
  }

  .formelement {
    width: 95%;
  }

  form input {
    width: 95%;
  }

  form textarea {
    width: 95%;
  }

  footer {
    height: fit-content;
    text-align: center;
    width: 100%;
  }

  footer span ul {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  footer span ul li {
    margin: 29px 0px 29px 0px;
  }
}

/* Tablet responsive */

@media screen and (min-width: 600px) and (max-width: 900px) {
  header nav {
    width: 100%;
    overflow-x: scroll;
    padding: 8px 0 0 0;
  }

  .container {
    position: relative;
    align-items: center;
    padding: 20px 0;
    height: 100%;
  }

  .container::before {
    width: 100%;
  }

  form {
    height: fit-content;
    margin: 0;
  }

  footer {
    margin-top: auto;
  }

  footer span {
    overflow-x: scroll;
  }
}
