* {
  margin: 0;
  padding: 0;
}

/* Header */

#name {
  display: flex;
  border: 2px solid none;
  height: 70px;
  width: 100px;
  padding: 15px 0px 0px 5px;
  font-size: 1.4rem;
  /* font-family: 'Baloo Bhaijaan 2'; */
}

img[alt="City Hospital"] {
  height: 69px;
  width: 88px;
  cursor: pointer;
}

#menu {
  display: none;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100px;
  margin: 4px;
  cursor: pointer;
}

#cross {
  display: none;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100px;
  margin: 4px;
  cursor: pointer;
}

#dropdown {
  margin: 0px 28px;
}

header nav {
  display: flex;
  border: 2px solid none;
  padding: 8px 10px 0 10px;
  align-items: center;
  height: 68px;
  flex-direction: row;
}

header nav #tabs {
  display: flex;
  text-decoration: none;
  margin-bottom: 17px;
  list-style: none;
}

header nav #tabs a {
  margin: 0 12px;
  font-size: 1.2rem;
  color: #9696b9;
  border: 2px solid none;
  text-decoration: none;
  box-sizing: border-box;
  width: max-content;
  text-align: center;
  font-family: "Baloo Bhaijaan 2", cursive;
}

header nav #tabs a:hover {
  color: #595966;
}

header nav #tabs a li button:hover {
  color: #595966;
}

#tabs .hover {
  border: none;
  font-size: 1.2rem;
  height: 30px;
  width: max-content;
  color: #9696b9;
  background-color: transparent;
  cursor: pointer;
  font-family: "Baloo Bhaijaan 2", cursive;
  position: relative;
}

#tabs .hover:hover {
  color: red;
}

#tabs #hovercontent2 {
  display: none;
  flex-direction: column;
  margin: 35px 0px 0px 254px;
  position: absolute;
  z-index: 1;
}

#tabs #hovercontent2 a:nth-child(2) {
  border-top: none;
}

#tabs #hovercontent2 a:nth-child(3) {
  border-top: none;
}

#tabs #hovercontent2 a {
  display: block;
  border: 1px solid #e7d8d8;
  width: 174px;
  padding-left: 17px;
  border-bottom: none;
  color: black;
  background-color: white;
  text-decoration: none;
  text-align: initial;
  font-size: 1.1rem;
}

#tabs #hovercontent2 a:hover {
  background-color: rgb(243, 232, 232);
}

/* Container  */

.container {
  border: 2px solid none;
  padding: 12px;
  background-color: #f7f1e8;
}

.container h2 {
  margin-bottom: 8px;
  color: #3333ff;
}

/* Block 1 */
#div1 p {
  margin: 17px 0px;
  font-size: 1.1rem;
  font-weight: bold;
}

#div1 p:nth-child(2) {
  font-size: 1.1rem;
  font-weight: bold;
}

/* Block 2 */
#div2 p {
  margin: 17px 0px;
  font-size: 1.1rem;
  font-weight: bold;
}

/* Block 3 */

iframe {
  width: 100%;
  filter: invert(100%);
  margin: 17px 0px;
}

/* Footer section */
footer {
  border: 2px solid none;
  background-color: #232325;
  color: white;
}

footer span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer span ul {
  display: flex;
  flex-direction: row;
  margin-left: 89px;
}

footer span ul li {
  list-style: none;
  margin: 29px 52px 29px 0px;
  font-size: 1.4rem;
}

footer span ul li a {
  text-decoration: none;
  color: white;
}

footer span ul li a:hover {
  color: rgb(34, 141, 177);
}

footer span b {
  color: white;
  margin: 2px 0px;
  font-size: 1.2rem;
}

footer span p {
  text-align: center;
  font-size: 1.2rem;
  margin: 14px 0px 5px 31px;
}

footer #social i {
  margin: 15px;
}

footer #social a {
  text-decoration: none;
  color: white;
}

footer #social a:hover {
  color: rgb(34, 141, 177);
}
