* {
  margin: 0;
  padding: 0;
}

/* Navigation*/

#name {
  display: flex;
  border: 2px solid none;
  height: 70px;
  width: 100px;
  padding: 15px 0px 0px 5px;
  font-size: 1.4rem;
  /* font-family: 'Baloo Bhaijaan 2'; */
}

img[alt="City Hospital"] {
  height: 69px;
  width: 88px;
  cursor: pointer;
}

#menu {
  display: none;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100px;
  margin: 4px;
  cursor: pointer;
}

#cross {
  display: none;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100px;
  margin: 4px;
  cursor: pointer;
}

#dropdown {
  margin: 0px 28px;
}

header nav {
  display: flex;
  border: 2px solid none;
  padding: 8px 10px 0 10px;
  align-items: center;
  height: 68px;
  flex-direction: row;
}

header nav #tabs {
  display: flex;
  text-decoration: none;
  margin-bottom: 17px;
  list-style: none;
}

header nav #tabs a {
  margin: 0 12px;
  font-size: 1.2rem;
  color: #9696b9;
  border: 2px solid none;
  text-decoration: none;
  box-sizing: border-box;
  width: max-content;
  text-align: center;
  font-family: "Baloo Bhaijaan 2", cursive;
}

header nav #tabs a:hover {
  color: #595966;
}

header nav #tabs a li button:hover {
  color: #595966;
}

#tabs .hover {
  border: none;
  font-size: 1.2rem;
  height: 30px;
  width: max-content;
  color: #9696b9;
  background-color: transparent;
  cursor: pointer;
  font-family: "Baloo Bhaijaan 2", cursive;
  position: relative;
}

#tabs .hover:hover {
  color: red;
}

#tabs #hovercontent2 {
  display: none;
  flex-direction: column;
  margin: 35px 0px 0px 254px;
  position: absolute;
  z-index: 1;
}

#tabs #hovercontent2 a:nth-child(2) {
  border-top: none;
}

#tabs #hovercontent2 a:nth-child(3) {
  border-top: none;
}

#tabs #hovercontent2 a {
  display: block;
  border: 1px solid #e7d8d8;
  width: 174px;
  padding-left: 17px;
  border-bottom: none;
  color: black;
  background-color: white;
  text-decoration: none;
  text-align: initial;
  font-size: 1.1rem;
}

#tabs #hovercontent2 a:hover {
  background-color: rgb(243, 232, 232);
}

/* Container  */
#intro {
  border: 2px solid none;
  height: 88vh;
  display: flex;
  flex-direction: row;
  color: #af117e;
}

#intro h1 {
  font-size: 3.5rem;
}

#intro h3 {
  width: fit-content;
  font-size: 2.5rem;
}

#intro pre {
  font-size: 1.5rem;
  text-align: center;
}

#intro span {
  display: flex;
  flex-direction: column;
  border: 2px solid none;
  /* align-items: center; */
  justify-content: center;
  height: 578px;
  width: 441px;
  padding: 0px 15px 0px 15px;
  background-color: #00edff;
}

#appointment {
  display: flex;
  height: 100px;
  background-color: blue;
  color: white;
  font-size: 1.9rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#appointment span a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  margin-left: 12px;
}

#appointment span a:hover {
  color: yellow;
}

hr {
  margin: 10px 10px;
}

/* Section-1 */
#title1 {
  margin-top: 61px;
  text-align: center;
  font-size: 1.7rem;
  color: #9696b9;
}

#about::before {
  content: " ";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
  background-image: url("./hospital1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#about {
  display: flex;
  flex-direction: column;
  border-top: 2px solid none;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 544px;
  width: 100%;
  color: black;
}

#about h2 {
  display: block;
  border: 2px solid none;
  font-size: 3.2rem;
  color: #af117e;
}

.content {
  display: flex;
  flex-direction: column;
  border: 2px solid none;
  color: #810303;
  width: 1127px;
  text-align: center;
  padding: 10px 10px 0 24px;
  font-size: 1.7rem;
  font-family: "Baloo Bhaijaan 2", cursive;
}

.content h2 {
  font-size: 2.1rem;
}

#about img {
  border: 4px solid #9191e7;
  border-radius: 15px;
  height: 404px;
  width: 558px;
  margin: 10px 30px 0 15px;
}

/* Section-2 */
#title2 {
  text-align: center;
  font-size: 1.7rem;
  color: #9696b9;
}

#service::before {
  content: " ";
  display: block;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
  background-image: url("./img2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
}

#service {
  display: flex;
  height: 783px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#service #sblock {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5em;
  position: relative;
}

#service .block {
  display: flex;
  flex-direction: column;
  margin: 29px auto auto auto;
  height: 120px;
  width: 367px;
  border: 2px solid #8f24e3;
  padding: 8px;
  color: #8a0b61;
}

#service .block div:nth-child(2) {
  font-size: 1.2rem;
  font-family: "Baloo Bhaijaan 2", cursive;
}

.title {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
}

#service h2 {
  display: block;
  border: 2px solid none;
  font-size: 3.2rem;
  color: #af117e;
}

/* Section-3 */
#title3 {
  text-align: center;
  font-size: 1.7rem;
  color: #9696b9;
  margin-top: 98px;
}

#dept {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px 0px;
  background-color: lightblue;
}

#dept h2 {
  display: block;
  border: 2px solid none;
  width: fit-content;
  font-size: 3.2rem;
  color: #af117e;
}

#deptblock {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5em;
}

#dept #deptblock .department {
  display: flex;
  flex-direction: column;
  margin: 29px auto auto auto;
  height: 250px;
  width: 300px;
  border: 2px solid red;
}

#deptname1 {
  text-align: center;
  font-size: 1.7rem;
  border: 2px solid darkgreen;
  background-color: #5ed95e;
  color: #104805;
  box-shadow: inset 1px 1px 12px 2px darkgreen;
}

#deptname2 {
  text-align: center;
  font-size: 1.7rem;
  border: 2px solid darkgreen;
  background-color: #5ed95e;
  color: #104805;
  box-shadow: inset 1px 1px 12px 2px darkgreen;
}

#deptname3 {
  text-align: center;
  font-size: 1.7rem;
  border: 2px solid darkgreen;
  background-color: #5ed95e;
  color: #104805;
  box-shadow: inset 1px 1px 12px 2px darkgreen;
}

.department div:nth-child(2) {
  font-size: 1.2rem;
  text-align: justify;
  padding: 5px 8px;
  background-color: #178317;
  /* border: 2px solid #5ed95e; */
  color: white;
  height: inherit;
}

/* Footer section */
footer {
  border: 2px solid none;
  background-color: #232325;
  color: white;
}

footer span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer span ul {
  display: flex;
  flex-direction: row;
  margin-left: 89px;
}

footer span ul li {
  list-style: none;
  margin: 29px 52px 29px 0px;
  font-size: 1.4rem;
}

footer span ul li a {
  text-decoration: none;
  color: white;
}

footer span ul li a:hover {
  color: rgb(34, 141, 177);
}

footer span b {
  color: white;
  margin: 2px 0px;
  font-size: 1.2rem;
}

footer span p {
  text-align: center;
  font-size: 1.2rem;
  margin: 14px 0px 5px 31px;
}

footer #social i {
  margin: 15px;
}

footer #social a {
  text-decoration: none;
  color: white;
}

footer #social a:hover {
  color: rgb(34, 141, 177);
}

@media screen and (max-width: 600px) {
  #icon {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #90dae7;
  }

  img[alt="City Hospital"] {
    height: 53px;
    width: 60px;
  }

  #name {
    display: none;
  }

  #menu {
    display: flex;
  }

  body header nav {
    display: flex;
    padding: 0;
    align-items: center;
    flex-direction: column;
    height: fit-content;
  }

  body header nav #tabs {
    display: none;
    flex-direction: column;
    background-color: #e546e5;
    width: 100%;
    height: 100vh;
    margin: 0;
  }

  body header nav #tabs a {
    color: white;
  }

  body #tabs .hover {
    color: white;
    margin: 0px 0px 8px 12px;
  }

  #tabs #hovercontent2 {
    display: none;
    position: relative;
    flex-direction: column;
    margin: 0;
  }

  #tabs #hovercontent2 a {
    display: block;
    border: none;
    width: 90%;
    padding-left: 17px;
    color: white;
    background-color: violet;
    font-size: 1rem;
  }

  #tabs #hovercontent2 a:hover {
    background-color: rgb(231 35 35);
  }

  body #intro {
    width: 100%;
    flex-direction: column;
    color: #ff90dd;
    height: fit-content;
  }

  body #intro h1 {
    padding: 0px 0px 0px 20px;
  }

  body #intro h3 {
    padding: 0px 0px 0px 20px;
  }

  body #intro span {
    width: 100%;
    background-color: #080121;
    text-wrap: balance;
    min-height: 445px;
    min-width: 240px;
    height: fit-content;
    align-items: center;
    padding: 0;
  }

  body #intro img {
    width: 100%;
    height: fit-content;
    min-height: 350px;
  }

  body #intro span pre {
    text-wrap: balance;
  }

  #appointment {
    padding: 5px 5px 5px 25px;
    align-items: center;
    height: fit-content;
    max-height: 189px;
  }

  #appointment span {
    text-wrap: balance;
  }

  #about {
    position: relative;
    height: fit-content;
  }

  #about::before {
    position: absolute;
    height: 100%;
  }

  #about h2 {
    margin: 22px 0px;
  }

  .content {
    width: 90%;
    text-align: justify;
    padding: 0;
    margin: 5px 0px;
    font-size: 1.1rem;
  }

  #service {
    height: fit-content;
    width: 100%;
  }

  #service h2 {
    margin-top: 15px;
    margin-left: 15px;
  }

  #service #sblock {
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
    grid-gap: 1em;
    margin: 30px 0px;
  }

  #service .block {
    height: fit-content;
    width: 80%;
    padding: 10px;
  }

  .title {
    margin: 5px 0px;
  }

  #service .block div:nth-child(2) {
    font-size: 1.1rem;
    text-align: justify;
  }
}
